h1{
    background-color: green;
    color: white;
    padding: 15px;
    border: 10px;
    text-align: center;
}

h3{
    text-align: center;
}

.button{
    background-color: aqua;
    color:brown;
    padding: 15px 30px;
    text-align: center;
    font-size: 17px;
    border: none;
    margin: 2px;

}

div {
    text-align: center;
}